           * {
               margin: 0%;
               padding: 0%;
               box-sizing: border-box;
           }
           
           body {
               font-family: 'Cormorant Garamond', serif;
               text-align: center;
           }
           /* navigation */
           
           .navbar-brand {
               font-family: 'Quintessential', cursive;
               font-size: 3rem;
               padding-left: 15px;
               padding-right: 15px;
           }
           
           .nav-link {
               margin-left: 50px;
               margin-right: 25px;
           }
           /* introduction */
           
           .lens {
               width: 90%;
               padding-left: 20px;
               padding-top: 35px;
           }
           
           h1 {
               font-family: 'Quintessential', cursive;
               text-align: left;
               padding-top: 30px;
               padding-left: 55px;
               font-size: 2rem;
               line-height: 2;
           }
           
           p {
               width: 80%;
               text-align: left;
               padding: 10px 30px 0 55px;
               font-size: 1.25rem;
               line-height: 1;
           }
           /* cities */
           
           .cities {
               background-color: #045757;
               color: white;
               padding: 10px;
               margin: 50px 0;
           }
           /* landscapes */
           
           .landscapes {
               background-color: #044343;
               color: white;
               padding: 10px;
               margin: 50px 0;
           }
           /* Zoom and Capiont */
           
           .zoom {
               padding: 60px;
               transform: transform .2s;
               width: 320px;
               height: 240px;
               margin: 0 auto;
           }
           
           .zoom:hover {
               -ms-transform: scale(1.5);
               /* IE 9 */
               -webkit-transform: scale(1.5);
               /* Safari 3-8 */
               transform: scale(1.5);
           }
           
           .caption {
               padding: 10px 0;
               font-size: 1rem;
           }
           /* contact */
           
           .footer {
               background-color: #E4E4E4;
               color: black;
               padding: 10px;
               margin: 60px 0;
           }
           
           .contact-me a {
               text-decoration: none;
               font-size: 1.25rem;
               padding: 15px;
               color: darkgray;
           }
           
           .copyright {
               color: darkgray;
               padding: 30px;
               margin-bottom: 50px;
           }
           
           @media (max-width: 768px) {
               .navbar-brand {
                   font-size: 2rem;
               }
               h1 {
                   font-size: 1.5rem;
               }
               p {
                   font-size: 1rem;
               }
           }